<a href="https://colab.research.google.com/github/BananaJuise/Dt-Sci/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2

# Data Science Tools and Ecosystem

3

In this notebook, Data Science Tools and Ecosystem are summarized.


4

Some of the popular languages that Data Scientists use are:
1. R language
2. Pyrthon
3. Julia

5

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy libraries
3. seaborn

6

| Data Science Tool|
|--------|
|watson studio|
|jupyter|
|R studio|

7

### Below are a few examples of evaluating arithmetic expressions in Python

8

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

9

 This will convert 200 minutes to hours by diving by 60

In [1]:
200/60

3.3333333333333335

10

**Objectives:**


*   creating jupyter notebooks
*   Listeg the most Popular languages used in dt Sci
* Listeg some of the Popular Tools used in dt Sci
* overview. on python and R languages
* Overview on Github

11

## Author
Me